{% extends "base.html" %}

{% block konten%}

<body>
<table width="100%">
<tr>
<td width="25" align="center"><img src="{{ url_for ('static', filename="Ummu.png")}}" width="100%"></td>
<td width="50" align="center"><h2>Universitas Muhammadiyah Maluku Utara </h2><br>
<h5>Kampus terpadu (pusat) : Jl. KHA. Dahlan, Kelurahan Sasa Kecamatan Kota Ternate Selatan, Ternate. 97724
 </h5></td>
</table>
<hr>

<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
  <label for="floatingTextarea">NPM</label>
</div>

<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
  <label for="floatingTextarea">Nama</label>
</div>

<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
  <label for="floatingTextarea">Email</label>
</div>

<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
  <label for="floatingTextarea">Kelas</label>
</div>

<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
  <label for="floatingTextarea">Alamat</label>
</div>


  <button type="submit" class="btn btn-primary">Daftar</button>

  </div>
    
  

</body>
</html>



{% endblock%}

